body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

a:visited,
a:active {
  color: black;
  font-weight: bolder;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table,
table td {
  border: 1px solid #eeeeee;
}

td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}

td.bigright {
  height: 40px;
  text-align: right;
  color: #cccccc;
  vertical-align: middle;
}

td.autoria {
  text-align: center;
}

table.interna {
  border: 0px;
  border-collapse: collapse;
  border-style: hidden!important;
}

table.sinborde {
  border: 0px solid white;
  border-collapse: collapse;
  border-style: hidden!important;
}

span.desat {
  color: #cccccc;
}